.search-section  {
  margin: 1rem 0 1rem 0;

  &__control-space{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    align-items: center;

    img{
      width: 1.5rem;
    }
  }

  &__control {
    width: 80%;

    @media (min-width: 768px) {
      width: 60%;
    }

  } 
}
