@import "fonts.scss";

:root {
  --white: #ffffff;
  --primary: #0d6efd;
  --light-orange: #fe7062;

  /*Fuentes*/
  font-family: "Poppins", sans-serif;
  --big: 4.5rem;
  --heading1: 2.5rem;
  --heading2: 2rem;
  --small: 1.2rem;
  --extra-small: .8rem;
}