<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-10 main-content">
      <h1>Tus contactos en un solo lugar</h1>
      <p>Un lugar para almacenar y mantener actualizada tu agenda, con todos los datos que puedas requerir.
        Aquí puedes ingresar, editar, eliminar y ver toda tu lista de contactos.
      </p>
      <button routerLink="/users" class="regular-button">Administrar contactos</button>
    </div>
    <div class="col col-md-6 col-sm-10 align-self-end">
      <img src="assets/contact.png" alt="">
    </div>
  </div>
</div>
